/ %p#notice= notice

/ %p
/   %b Name:
/   = @user.name
/ %p
/   %b Email:
/   = @user.email
/ %p
/   %b Postcode:
/   = @user.postcode
/ %p
/   %b Dob:
/   = @user.dob
/ %p
/   %b Profile picture:
/   = @user.profile_picture


