// utilities
// font-family: 'Khand', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Inconsolata';
// font-family: 'Gruppo', cursive;
// font-family: 'Amatic SC', cursive;

*{
  box-sizing:border-box;
  font-family: 'Khand', sans-serif;
  letter-spacing: 1.5px;
}

a{
  color: white;
  text-decoration: none;
  }a:visited{
    color:white;
    }a:hover{
      color:red;
      text-decoration: none;
    }

    p{
      font-family: 'Quicksand', sans-serif;
    }

    .escapetomain{
      float:left;
    }

    input{
      color:black;
    }

    .field{
      display:inline-block;
      width:50%;
    }

    #mainbutton input{
      background-color:transparent;
      padding:0;
      font-size:1em;
      width:100%;
    }

    body
    {
      padding-bottom:100px;
      background:black;
      color:white;
    }

    .angular-google-map-container {
      height: 300px;
      width: 85%;
      margin: 20px auto;
      border-radius: 10px;}

      h1.maintitle{
        text-align:center;
        font-size: 5em;
        background:transparent;
        position: fixed;
        top:10px;
        margin:0 !important;
        width:100%;
        display: block;
        vertical-align: middle;
        font-family: 'Amatic SC', cursive;
        -webkit-animation: rotate 10s alternate infinite;
        #letsplay{
          font-family: 'Amatic SC', cursive;
          -webkit-animation: rotate 10s alternate infinite;
        }
      }
      h2.maintitle{
        text-align:center;
        font-size: 3em;
        background:transparent;
        width:100%;
        top:10%;
        position: fixed;
        display: block;
        vertical-align: middle;
        font-family: 'Amatic SC', cursive;
        color:white;
      }

      #letsplaymini{
  // these styles will apply to the mini version of the main page header that will be seen on all other pages in the site
  display:none;
}

.homecontainer{
  text-align:center;
  h1{
    margin:2%;
    letter-spacing: 2px;
  }
  .signup, .login, p.maintitle{
    font-size:2rem;
    position:fixed;
    top:70%;
    letter-spacing: 1.5px;
  }
  .signup{
    top:80%;
    width:100%;
    left:0;
  }
  .login{
    top:85%;
    width:100%;
    left:0;
  }
  p.maintitle{
    width:100%;
    text-align:center;
    top:75%;
  }

  .fa-gamepad{
    height:40px;
    font-size:3em;
    display:inline;
    line-height:40px;
    vertical-align: center;
    width: 100%;
    text-align:center;
    input{
      height:30px;
      margin:5px;
      vertical-align: top;
      border:none;
      border-radius:5px;
      transition: 0.2s all ;
    }
    p{
      display:inline;
      vertical-align: center;
      font-size:2rem;
      margin-left: 2%;
    }
  }
}

.hm-background{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:-100;
  -webkit-transform: scaleX(-1);
}

// .tint{
//   background-color:rgba(211, 53, 130, 1.0);
//   -webkit-animation: rotate 2s;
// }

.background{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:-100;
}

.mainfooter{
  position:fixed;
  bottom:0;
  width:100%;
  height:30px;
  border-top:solid 1px black;
  line-height:30px;
  padding-bottom:1%;
  padding-left:10px;
  background:black;
  text-align:center;
  margin-left:-10px;
  a{
    display:inline-block;
    font-size:2em;
  }
  p{
    color:white;
    vertical-align: center;
    margin:0;
    display:inline-block;
    font-size: 0.5em;
  }
}

.hometitle{
  text-align:center;
}

.each_console{
  height: 500px;
  width:400px;
  display:inline-block;
  margin:5%;
  position:relative;
  .console_image{
    height:400px;
    width:500px;
    border-radius:5px;
  }
  .console_name{
    position: relative;
    display:inline-block;
  }
}


.main-nav{
  text-align: center;
  position:fixed;
  right:0;
  top:0;
  height:100%;
  padding-bottom:30px;
  width:15%;
  z-index:1000;
  #show{
    cursor:pointer;
    &:hover{
      color:red;
    }
  }
  #hide{
    display:none;
    cursor: pointer;
    &:hover{
      color:red;
    }
  }
  #sbar2, #sbar3, #sbar4, #sbar5, #sbar6, #sbar7 {
    display:none;
    .fa-bars{
      font-size:2em;
    }
  }

  #sbar6{
    background-color:rgba(119, 4, 4, 1.0);
  }
  #sbar5{
    background-color:rgba(148, 5, 5, 1.0);
  }
  #sbar4{
    background-color:rgba(168, 6, 6, 1.0);
  }
  #sbar3{
    background-color:rgba(188, 6, 6, 1.0);
  }
  #sbar2{
    background-color:rgba(218, 7, 7, 1.0);
  }
  #sbar7{
    background-color:rgba(237, 7, 7, 1.0);
  }

  .sidebaritem1{
    height:40%;
    background:orange;
    display:block;
    border-radius:5px;
    display:none;
    a:hover{
      background: transparent;
      color:red;
      font-weight:bold;
      text-decoration: none;
    }
    .fa-bars, .fa-cog{
      font-size:2.5em;
      cursor: pointer;
    }
    img{
      display:inline-block;
      width:60%;
    }
  }
  .sidebaritem{
    height:12%;
    display:block;
    background:red;
    line-height:80px;
    vertical-align: center;
    border:1px solid black;
    border-radius:5px;
    a:hover{
      background: transparent;
      color:black;
      font-weight:bold;
      text-decoration: none;
    }
  }
}

.user_image{
  border-radius: 10px;
}

.container_user{
  width:60%;
  background:black;
  border: 5px solid yellow;
  border-radius: 10px;
  margin: 100px auto;
  text-align: center;
}

.container_games, .container_mysessions{
  width:50%;
  background:black;
  border: 5px solid yellow;
  border-radius: 10px;
  margin: 100px auto;
  text-align: center;
  .eachgame{
    margin: 10px;
    p{
      font-weight: bolder;
      display:inline-block;
    }
    a{
      text-decoration: none;
    }
  }
  input {
    border:none;
    width:50%;
    border-radius:5px;
    color:black;
  }
  img{
    height: 200px;
    max-width: 90%;
  }
}

.container_gsessions{
  width:50%;
  background:black;
  border: 5px solid red;
  border-radius: 10px;
  margin: 100px auto;
  text-align: center;
  .eachgame{
    button{
      display:block;
      padding:1%;
      margin:0 auto;
    }
    margin: 10px;
    p{
      font-weight: bolder;
      display:inline-block;
    }
    a{
      text-decoration: none;
    }
  }
  input {
    border:none;
    width:50%;
    border-radius:5px;
    color:black;
  }
  img{
    height: 200px;
  }
}

input, textarea {
  border:none;
  width:50%;
  border-radius:5px;
  color:black;
}

#myGame:hover{
  color:rgba(169, 207, 0, 1.0);
}

.mygame{
  color: orange;
}

// modal styling

.modal-body{
  p{
    display:inline-block;
    margin-left:10%;
  }
  .checkbox{
    display:inline-block;
  }
}

.dropdown{

}

.modal-content{
  background-color:black;
}

// ------------- animations -------------- //

// these are supposed to be the colors of the consoles blue and green.. reminder to myself do i want to use red?

@-webkit-keyframes rotate {
  0% { color: #0A59AE}
  6% { color: #1881F2}
  13% { color: #3E96F4}
  19% { color: #B2D5FB}
  25.6% { color: #FFFFFF}
  32.2% { color: #FE9A9A}
  38.8% { color: #FD5D5D}
  45.4% { color: #FD2121}
  52% { color: #DE0202}
  58% { color: #FD5D5D}
  64.5% { color: #FE9A9A}
  71% { color: #FFFFFF}
  77% { color: #DEFBDA}
  83% { color: #8DF27D}
  89% { color: #4BEB33}
  100% { color: #29BA12}
}

// media queries //

@media screen and (max-width: 768px) {
  h1.maintitle{
    text-align:center;
    font-size: 5em;
    background:transparent;
    position: fixed;
    top:10%;
    margin:0 !important;
    width:100%;
    display: block;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    -webkit-animation: rotate 10s alternate infinite;
    #letsplay{
      font-family: 'Amatic SC', cursive;
      -webkit-animation: rotate 10s alternate infinite;
    }
  }
  h2.maintitle{
    text-align:center;
    font-size: 4em;
    background:transparent;
    width:100%;
    top:20%;
    position: fixed;
    display: block;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    color:white;
  }
  .hm-background{
    position:fixed;
    top:30%;
    z-index:-100;
    -webkit-transform: scaleX(-1);
  }
  body{background-color: black;}
  #intro.introduction, #maincontent { width:100%; padding:0;}
  .homecontainer{
    text-align:center;
    h1{
      margin:2%;
      letter-spacing: 2px;
    }
    .signup, .login, p.maintitle{
      font-size:2rem;
      position:fixed;
      letter-spacing: 2px;
    }
    .signup{
      top:77%;
      width:100%;
      font-size: 2.5em;
      left:0;
    }
    .login{
      top:85%;
      width:100%;
      font-size: 2.5em;
      left:0;
    }
    p.maintitle{
      width:100%;
      text-align:center;
      top:65%;
    }

    .fa-gamepad{
      height:40px;
      font-size:3em;
      display:inline;
      line-height:40px;
      vertical-align: center;
      width: 100%;
      text-align:center;
      input{
        height:30px;
        margin:5px;
        vertical-align: top;
        border:none;
        border-radius:5px;
        transition: 0.2s all ;
      }
      p{
        display:inline;
        vertical-align: center;
        font-size:2rem;
        margin-left: 2%;
      }
    }
  }

  .allnewsignup{
    width:100%;
    background-color:black;
    z-index: 1000 !important;
    -webkit-transform: translateZ(0);
    .newsignup{
      width:100%;
      input{
        height:70px;
        text-align:center;
        font-size: 1.5em;
        line-height:70px;
        width:100%
      }
    }
    .actions{
      width: 50%;
      font-size: 1.5em;
      margin:5% 35%;
    }
  }
  body{background-color: black;}
  #intro.introduction, #maincontent { width:100%; padding:0;}
}

input#user_remember_me{
  width:5%;
}

///// media query break /////////////////////////////////////

@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 750px){
  .hm-background{
    position:fixed;
    top:10%;
    z-index:-100;
    -webkit-transform: scaleX(-1);
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  h1.maintitle{
    text-align:center;
    font-size: 5em;
    background:transparent;
    position: fixed;
    top:10%;
    margin:0 !important;
    width:100%;
    display: block;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    -webkit-animation: rotate 10s alternate infinite;
    #letsplay{
      font-family: 'Amatic SC', cursive;
      -webkit-animation: rotate 10s alternate infinite;
    }
  }
  h2.maintitle{
    text-align:center;
    font-size: 4em;
    background:transparent;
    width:100%;
    top:20%;
    position: fixed;
    display: block;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    color:white;
  }
  .hm-background{
    position:fixed;
    top:30%;
    z-index:-100;
    -webkit-transform: scaleX(-1);
  }
  body{background-color: black;}
  #intro.introduction, #maincontent { width:100%; padding:0;}
  .homecontainer{
    text-align:center;
    h1{
      margin:2%;
      letter-spacing: 2px;
    }
    .signup, .login, p.maintitle{
      font-size:2rem;
      position:fixed;
      letter-spacing: 2px;
    }
    .signup{
      top:77%;
      width:100%;
      font-size: 2.5em;
      left:0;
    }
    .login{
      top:85%;
      width:100%;
      font-size: 2.5em;
      left:0;
    }
    p.maintitle{
      width:100%;
      text-align:center;
      top:65%;
    }

    .fa-gamepad{
      height:40px;
      font-size:3em;
      display:inline;
      line-height:40px;
      vertical-align: center;
      width: 100%;
      text-align:center;
      input{
        height:30px;
        margin:5px;
        vertical-align: top;
        border:none;
        border-radius:5px;
        transition: 0.2s all ;
      }
      p{
        display:inline;
        vertical-align: center;
        font-size:2rem;
        margin-left: 2%;
      }
    }
  }

  .allnewsignup{
    width:100%;
    background-color:black;
    z-index: 1000 !important;
    -webkit-transform: translateZ(0);
    .newsignup{
      width:100%;
      input{
        height:70px;
        text-align:center;
        font-size: 1.5em;
        line-height:70px;
        width:100%
      }
    }
    .actions{
      width: 50%;
      font-size: 1.5em;
      margin:5% 35%;
    }
  }
}

// small screen devices ////////////////////////////////

@media only screen and (max-width: 320px) {
    h1.maintitle{
      text-align:center;
      font-size: 5em;
      background:transparent;
      position: fixed;
      top:10%;
      margin:0 !important;
      width:100%;
      display: block;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      -webkit-animation: rotate 10s alternate infinite;
      #letsplay{
        font-family: 'Amatic SC', cursive;
        -webkit-animation: rotate 10s alternate infinite;
      }
    }
    h2.maintitle{
      text-align:center;
      font-size: 4em;
      background:transparent;
      width:100%;
      top:20%;
      position: fixed;
      display: block;
      vertical-align: middle;
      font-family: 'Amatic SC', cursive;
      color:white;
    }
    .hm-background{
      position:fixed;
      top:30%;
      z-index:-100;
      -webkit-transform: scaleX(-1);
    }
    body{background-color: black;}
    #intro.introduction, #maincontent { width:100%; padding:0;}
    .homecontainer{
      text-align:center;
      h1{
        margin:2%;
        letter-spacing: 2px;
      }
      .signup, .login, p.maintitle{
        font-size:2rem;
        position:fixed;
        letter-spacing: 2px;
      }
      .signup{
        top:77%;
        width:100%;
        font-size: 2.5em;
        left:0;
      }
      .login{
        top:85%;
        width:100%;
        font-size: 2.5em;
        left:0;
      }
      p.maintitle{
        width:100%;
        text-align:center;
        top:65%;
      }

      .fa-gamepad{
        height:40px;
        font-size:3em;
        display:inline;
        line-height:40px;
        vertical-align: center;
        width: 100%;
        text-align:center;
        input{
          height:30px;
          margin:5px;
          vertical-align: top;
          border:none;
          border-radius:5px;
          transition: 0.2s all ;
        }
        p{
          display:inline;
          vertical-align: center;
          font-size:2rem;
          margin-left: 2%;
        }
      }
    }

    .allnewsignup{
      width:100%;
      background-color:black;
      z-index: 1000 !important;
      -webkit-transform: translateZ(0);
      .newsignup{
        width:100%;
        input{
          height:70px;
          text-align:center;
          font-size: 1.5em;
          line-height:70px;
          width:100%
        }
      }
      .actions{
        width: 50%;
        font-size: 1.5em;
        margin:5% 35%;
      }
    }
  body{background-color: black;}
  #intro.introduction, #maincontent { width:100%; padding:0;}
}