<main-header></main-header>
{{current_user.name}}
<nav-bar></nav-bar>

<h1>Console Page</h1>

<div>
  <input ng-model="search" type="search">
    <div ng-click="selectConsole(console)" ng-repeat="console in consoles | filter: {name: search} | orderBy: 'name'" ng-class="{highlighted: console === selectedConsole}">
      <a href="/#/console/{{ console.id }}">{{ console.name }}</a>
    </div>
</div>
