<div class="container_games">
  <h1>Console Page</h1>

<div>
  <input ng-model="search" type="search"> <br>
  <div ng-click="selectConsole(console)" ng-repeat="console in consoles | filter: {name: search} | orderBy: 'name'" >
    <div >
      <a href="/consoles/{{ console.id }}" class="console_name">
        <h2>{{ console.name }}</h2>
        <img src="/assets/{{console.console_image}}">
      </a>
    </div>
  </div>
</div>
</div>
