<div class="container_games">
  <h1>{{gamingsession.title}}</h1>

  <p>Creator : {{gamingsession.created_by}}</p>

  <div ng-show="gamingsession.online">Online!</div>
  <div ng-hide="gamingsession.online">Offline!</div>

  <p>Min age: {{gamingsession.min_age_limit}}</p>

  <p> Description: {{gamingsession.description}} </p>
  <p>
    <b>Gsdate:</b>
    {{gamingsession.gsdate}}
  </p>
  <p>
    <b>Active:</b>
    {{gamingsession.active}}
  </p>
  <p>
    <b>Location name:</b>
    {{gamingsession.location_name}}
  </p>
  <p>
    <b>Postcode:</b>
    {{gamingsession.postcode}}
  </p>
  <p>
    <b>Console id1:</b>
    {{gamingsession.console_id1}}
  </p>
  <p>
    <b>Console id2:</b>
    {{gamingsession.console_id2}}
  </p>
  <p>
    <b>Console id3:</b>
    {{gamingsession.console_id3}}
  </p>

  <button ng-show="gamingsession.active" ng-click="closeSession(gamingsession.id)">End Session</button>

  <a href="/letsplay/gsessions">Back</a>
</div>
