<div class="container_games">
  <h1>{{gamingsession.title}}</h1>

  <p>Creator : {{gamingsession.name}}</p>

  <div ng-show="gamingsession.online">Online!</div>
  <div ng-hide="gamingsession.online">Offline!</div>

  <p>Min age: {{gamingsession.min_age_limit}}</p>

  <p> Description: </p>
  <p>{{gamingsession.description}} </p> <br>

  <p> Date: {{gamingsession.gsdate}} </p>
  
  <div ng-show="gamingsession.active">This session is active</div>
  <div ng-hide="gamingsession.active">This session is closed</div>

  <p>
    <b>Location:</b>
    {{gamingsession.location_name}}, {{gamingsession.postcode}}
  </p>
  <p>
    <b>Console id1:</b>
    {{gamingsession.console_id1}}
  </p>
  <p>
    <b>Console id2:</b>
    {{gamingsession.console_id2}}
  </p>
  <p>
    <b>Console id3:</b>
    {{gamingsession.console_id3}}
  </p>

  <button ng-show="gamingsession.active" ng-click="closeSession(gamingsession.id)">End Session</button>

  <button class="btn" ng-click="acceptSession(gamingsession.id)">Accept</button>

  <a href="/letsplay/gsessions">Back</a>
</div>
