<div class="container_gsessions">
  <h1>Gaming Sessions</h1>
  <input ng-model="search" type="search">
  <div ng-class="eachgame" ng-repeat="gamingsession in gamingsessions |  filter: {online: search} | orderBy: 'gsdate'">
    <h1>{{gamingsession.title}}</h1>
    <p>Created by: {{gamingsession.users[0].name}}</p>
    <p ng-show="gamingsession.online">This is an online session</p>
    <p ng-hide="gamingsession.online">This is a real life session</p>
    <p ng-show="gamingsession.active">This session is active</p>
    <p ng-hide="gamingsession.active">This session is closed</p>
  </td>
 <!--  <td>
    {{gamingsession.min_age_limit}}
  </td>
  <td>
    {{gamingsession.max_age_limit}}
  </td> -->
  <td>
    {{gamingsession.description}}
  </td>
<!--   <td>
    {{gamingsession.gsdate}}
  </td> -->

  <td><div ng-hide="gamingsession.online">
    <p>Location :</p>
    {{gamingsession.location_name}}
    </div>
  </td>
  <td>
    {{gamingsession.postcode}}
  </td>
  <td>
    {{gamingsession.console_id1}}
  </td>
  <td>
    {{gamingsession.console_id2}}
  </td>
  <td>
    {{gamingsession.console_id3}}
  </td>
  <h3><a href="/letsplay/gsessions/{{gamingsession.id}}">View Gaming Session</a></h3>
  <td>

    <%#= link_to 'Edit', edit_gamingsession_path(gamingsession) %>
  </td>
  <td>
    <%#= link_to 'Destroy', gamingsession, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  </td>
</tr>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSession">
  Create a New Session
</button>

<!-- Modal -->
<div class="modal fade" id="newSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form name="gamingsessionForm" ng-submit="addGamingsession()">
          <div>
            <b>Title</b><br>
            <input type="text" ng-model="newGamingsession.gamingsession.title"> <br>
            <!-- created by will be a hidden field setting it to the current_user.id -->

            <p>online</p>
            <input type="checkbox" ng-model="newGamingsession.gamingsession.online"> <br>

            <input type="hidden" ng-model="newGamingsession.user_id" ng-value="{{currentUser.id}}">

            <b>Description<b><br>
            <textarea type="text" ng-model="newGamingsession.description"></textarea> <br>
<!-- 
            <p>Min-Age limit</p>
            <input type="date" ng-model="newGamingsession.gamingsession.min_age_limit"
            placeholder="yyyy-MM-dd" min="1998-01-01" max="1950-01-01" /> <br>

            <p>Max-Age limit</p>
            <input type="date" ng-model="newGamingsession.gamingsession.max_age_limit"
            placeholder="yyyy-MM-dd" min="1998-01-01" max="1950-01-01" /> <br>
 -->
            <b>Date</b><br>
            <input type="datetime-local" ng-model="newGamingsession.gamingsession.gsdate"
            placeholder="yyyy-MM-ddTHH:mm:ss" min="2014-12-11" max="2016-01-01" /> <br>
            <span class="error" ng-show="GamingsessionForm.input.$error.required">
              Required!</span>
              <span class="error" ng-show="GamingsessionForm.input.$error.datetimelocal">
                Not a valid date!</span> <br>

                <p class="checkbox">active</p>
                <input type="checkbox" class="checkbox" ng-model="newGamingsession.gamingsession.active" required> <br>

                <b>Location Name</b><br>
                <input type="text" ng-model="newGamingsession.gamingsession.location_name" > <br>

                <b>Postcode</b><br>
                <input type="text" ng-model="newGamingsession.gamingsession.postcode" > <br>

                <b class="dropdown">Console</b> <br>
                <select class="dropdown" ng-model="newGamingsession.gamingsession.console_id1" ng-options="console.name for console in consoles"></select><br>
<!-- 
                <select class="nullable" ng-model="newGamingsession.gamingsession.console_id2" ng-options="console.name for console in consoles"></select><br>
                
                <select class="nullable" ng-model="newGamingsession.gamingsession.console_id3" ng-options="console.name for console in consoles"></select><br> -->

                <b class="dropdown">Add Users</b> <br>
                <select class="dropdown" ng-model="newGamingsession.user" ng-options="user.name for user in users"></select><br>
      <!--           <select ng-model="newGamingsession.user" ng-options="user.name for user in users"></select><br>
                <select ng-model="newGamingsession.user" ng-options="user.name for user in users"></select><br>
                <select ng-model="newGamingsession.user" ng-options="user.name for user in users"></select>
                <br> -->

                <p class="checkbox">Open?</p>
                <input type="checkbox" class="checkbox" ng-model="newGamingsession.gamingsession.open" required> <br>

              </div>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>