<div>

  <%= image_tag "controllercollage.jpg", class: "homepage background" %>
  <div class="homecontainer"><h1 class="hometitle">Let's Play</h1>
  <i ng-click="enterDeets()" class="fa fa-gamepad"><p>Log in</p> <input ng-show="deets"id="name"><input ng-show="deets" id="emailAddress"><button ng-show="deets">start</button></i>
  </div>
</div>