<div class="container_mysessions">
  <h1>My Gaming Sessions</h1>

  <div ng-repeat="gamingSession in currentUser.gamingSessions" class="eachgame">
    <h2>{{gamingSession.title}} </h2>
    <p>{{gamingSession.description}}</p>
    <p>Location: {{gamingSession.location_name}}, {{gamingSession.postcode}}</p>
    <p>{{gamingSession.accepted}}</p>
    <p>{{gamingSession.userSession}}</p>

    <p ng-show="gamingSession.online">This session is online</p>
    <p ng-hide="gamingSession.online">This session is an offline session</p><br>


    <p ng-show="gamingSession.open">This session is open</p> <br>
    <button class="btn btn-primary" ng-show="gamingSession.open" ng-click="acceptSession()" >Accept session?</button>
    <p ng-hide="gamingSession.open">This session is closed</p>
    <br>
    <ui-gmap-google-map ng-hide="gamingSession.online" center='map.center' zoom='map.zoom'><ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box></ui-gmap-google-map>
  </div>
</div>